.App {
  text-align: center;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

main {
  max-width: 60%;
  margin: 10px auto;
}
header {
  background-color:  rgb(157, 241, 213);
  padding: 16px;
  text-align: center;
  margin: 10px 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: silver;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 14px;
  background-color: solid;
  
}

th, td {
  text-align: left;
  padding: 8px;
  border: 1px solid;
}

form {
display: flex;
align-items: flex-end;
justify-content: space-between;
grid-template-columns: auto auto auto;
gap: 8px;
padding: 10px 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  display: flex;
  justify-content: space-around;
}
